name: Publish
on:
  workflow_dispatch:
    inputs:
      deploy_api_reference:
        description: 'Deploy API Reference?'
        required: true
        default: true
        type: boolean

jobs:
  publish:
    runs-on: macos-15

    permissions:
      contents: write

    env:
      RELEASE_PAGES_BRANCH: main

    steps:
      - name: Check branch
        if: ${{ !contains(github.ref, 'refs/heads/release/') }}
        run: |
          echo "This action runs only on branches that start with 'release/'"
          exit 1

      - name: Checkout sources
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Create Release Tag
        run: |
            export VERSION=$(cat gradle.properties | grep "^version" | awk -F '=' '{print $2}') && \
            gh config set prompt disabled && \
            gh release create \
              --target "$GITHUB_REF_NAME" \
              --title "$VERSION" \
              --generate-notes \
              $VERSION
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup JDK
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0

      - name: Set Xcode version
        # ref. https://www.jetbrains.com/help/kotlin-multiplatform-dev/multiplatform-compatibility-guide.html#version-compatibility
        run: sudo xcode-select -s /Applications/Xcode_16.3.app

      - name: Publish to Maven Central
        run: ./gradlew publishAndReleaseToMavenCentral --no-configuration-cache
        env:
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
          ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.GPG_KEY }}
          ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.GPG_KEY_PASSWORD }}

      - name: Build API Reference
        if: ${{ github.event.inputs.deploy_api_reference == 'true' }}
        run: ./gradlew dokkaGeneratePublicationHtml

      - name: Deploy API Reference to Cloudflare Pages
        if: ${{ github.event.inputs.deploy_api_reference == 'true' }}
        uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65 # v3.14.1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_PAGES_DEPLOY_API_TOKEN }}
          command: pages deploy build/dokka/html --project-name=soil-api-reference --branch ${{ env.RELEASE_PAGES_BRANCH }}
